.cabecalho {
    background-color: #3a63b1;
    color: #c1daff
    display: flex;
    justify-content: space-around;
    
}

.cabecalho-imagem{
    width: 5%;

}

.cabecalho-lista-item{ 
    display: inline-block;
    margin: 0 16px;
}
